.contact{
    height: 100dvh;
    width: 100%;
    .contact-slide{
        width: 30%;
        position: relative;
        left: 35%;
        top: 8%;
        border-radius: 50px;
        background-color: var(--bgdark);
        padding: 30px;
        .text-contact{
            font-size: 20px;
            color: white;
            text-align: center;
            margin-bottom: 20px;
            h3{
                color: var(--colorhover);
                font-weight: 900;
                transition: 0.5s;
                font-size: 30px;
                animation: hh3 2s linear infinite;
                &:hover{
                    color: var(--bgdark2);
                    text-decoration: none;
                }
            }
        }
        .form-contact{
            form{
                display: flex;
                flex-direction: column;
                align-items: normal;
                width: 100%;
                font-size: 18px;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: normal;
                    
                    input{
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        color: white;
                        border: 3px solid var(--colorhover);
                    }
                    textarea{
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        border: 3px solid var(--colorhover);
                        resize: vertical;
                    }
                    
                    label{
                        font-size: 16px;
                        color: var(--colorhover);
                    }
                }
                button{
                    padding: 10px;
                    background-color: var(--colorhover);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    transition: 0.4s;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: white;
                        color: var(--colorhover);
                    }
                    
                }
            }
        }
    }
}

@keyframes hh3{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
